<div ng-controller="addBookCtrl">
    <div id = "addBookContainer" style="margin-right:2vw">
        <h1 style="margin-top:1vw; margin-left:1vw;">New Book Information</h1>
        <form>
            <ul class="form-style-1" style="text-align: right; margin-left: -1vw">
                <li>Title:
                    <input type="text" class="disabled-text" id="titleForm" name="Title" required/>
                </li>
                <li style="margin-bottom: 1vw;">Status:
                <select id="statusForm" name="Status" style="width: 194px;" value="" required>
                    <option value="Available">Available</option>
                    <option value="Suspended">Suspended</option>
                </select><br/>
                </li>
                <input type="submit" value="Return to books" class="button button1" ng-model="btn" name="UserButton"
                       ng-click="returnHome()" formnovalidate/>
                <input type="submit" value="Add book" class="button button1" ng-model="btn" name="UserButton"
                       ng-click="addBook()"/>
            </ul>
        </form>
    </div>
</div>